@import '~bootstrap/scss/bootstrap';

$transparent: rgba(0, 0, 0, .5);

body {
  height: 100vh;
  text-align: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("public/road-choice.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

h1, .user-message, p {
  color: #fff;
  font-weight: bold;
}

h1 {
  margin-top: 1rem;
}
.handlebars-q-and-a {
  color: black;
}
.user-message {
  margin-bottom: 1rem;
}

.fa-bars {
  color: #fff;
}

.btn {
  font-weight: bold;
}

.btn-primary {
  background-color: #2a8214;
  border-color: #2faf0f
}

.btn-primary:hover {
  background-color: #2faf0f;
  border-color: #2a8214;
  color: #072101;
}

.modal-header {
  margin: 0 auto;
}

.modal-title {
  font-size: 2rem;
}

.card-body {
  margin: 2rem auto;
  max-width: 800px;
}

.page-mask {
  background: $transparent;
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
}

.side-bar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: $transparent;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 1rem;
  text-align: left;
}

.toggle-side-bar {
  position: fixed;
  top: 10px;
  right: 10px;
}

.nav-btn {
  margin: 1.5rem;
}

.close-nav {
  color: red;
  margin: 1.5rem;
}
